// @import "../../../App.module.scss";

.jobContainer {
    display: flex;
    flex-direction: row;
    // border: 1px solid $purple;
    border-radius: 10px;
    padding: 1rem;
    
    div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }        
    }
    img {
        width: 30%; height: auto; 
    }
    p {
        display: inline-block;
        border-radius: 40px;

    }
  