@import "../../App.module.scss";

.burgerMenuList {
    display: none;
}
.filterMenu {
    display: contents;
    position: fixed;
    overflow-x: hidden;
    text-decoration: none;
    transition: 0.2s ease;
    z-index: 1;
    width: 40vw;
    height: 62vh;
    // border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgba($color: #8D83A6, $alpha: 0.7) ;
    .jobFilterContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            h3 {
                padding-right: 0.5rem;
            }
        }
    }
 
}
.bannerContainer {

    display: flex;
    flex-direction: row;
    text-align: flex-start;
    align-items: center;
    justify-content: space-around;
    background-color: rgba($color: $purple, $alpha: 1) ;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 10px;
    .doorIcon {
        color: #FFFDF8;
        transform: rotate(180deg);
    }
    img {

        width: 20%; 
        padding: 1vw;


    }
    p {
        padding: 1vw;
        font-size: 3vw;
        font-weight: 600;
        border-radius: 10px;
        border-bottom-left-radius: 50px;
        color: $purple;
        background-color: #FFFDF8;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    h1 {
        padding: 1vw;
        font-size: 4vw;
        font-weight: 400;
        color: #FFFDF8;
        display: flex;
        flex-direction: column;
        text-align: center;

        
        span:nth-child(1) {
            font-size: 7vw;
            font-weight: 400;
            color: $purple;
            background-color: white;
            padding-bottom: 0;
            border: 2px solid white;
            border-radius: 5px;
            border-bottom-left-radius: 50px;

        }
    }
}

.menu {
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $off-black;
    background-color: rgba($color: $offWhite, $alpha: 1) ;
    // border-bottom: 1px solid $purple;
    .filterIconContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        // border-right: 2px solid $purple;

        p {
            color: white;
            background-color: #8D83A6;
            padding: 0.3rem;
            border-radius: 5px;
            font-size: 10px;
        }
        .filterIcon {
            cursor: pointer;
            font-size: 40px;
            color: #8D83A6;
            transition: 0.3s;
            &:focus {
                color: rgba($color: white, $alpha: 0.4) ;
            }
        }
    }
    .menuIconContainer {
        display: none;
    }
    // border-bottom: 1px solid rgba($color: #BDBBC5, $alpha: 1.0);
    .menuIcon {
        display: none;
    }
    input {
        border-radius: 10px;
        
        width: 30%;
        border: none;
        border: 1px solid $off-black;
        color: $off-black;
        font-size: 2rem;
        padding: 1vw;
        margin: 1rem 3rem 1rem 1rem;
        background-color: transparent;
        transition: 1s;
        &:focus {
            width: 40%;
        }
        &::placeholder {
            transition: 0.2s ease-in-out;

        }
        &:hover::placeholder {
            color: $purple;
        }

    }
    a {
        cursor: pointer;
        border: none;
        background-color: transparent;
        border-radius: 3px;
        margin: 1vw;
        padding: 0vw;
        font-size: 25px;
        position: relative;
        align-self: center;
        text-decoration: none;
        color: $off-black;
        
        &:after {
            position: absolute;
            content: '';
            height: 1px;
            bottom: 0px; 
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 30%;
            background-color: $purple;
            -o-transition:.5s;
                -ms-transition:.5s;
            -moz-transition:.5s;
            -webkit-transition:.5s;
            transition:.5s;
        }

        &:hover:after {
            width: 90%;
            background: $purple;
        }
    }
    .links { 
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: start;
        overflow: hidden;
        border-right: 1px solid white;
    }
    ul {
        width: 20vw;
        display: flex;
        flex: row;
        justify-content: center;

    }
}




@media only screen and (max-width: 768px) {

a:after {
    width: 0%;

}

    .burgerMenuList {
        display: contents;
        position: fixed;
        overflow-x: hidden;
        text-decoration: none;
        transition: 0.3s ease;
        z-index: 1;
        width: 50vw;
        height: 40vh;
        // border-top-left-radius: 10px;
        border-bottom-left-radius: 20px;

        display: flex;
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
        justify-content: space-around;
        color: #2F3237;
        background-color: rgba($color: #272725, $alpha: 0.7) ;
        a {
            text-decoration: none;
            color: white;
            font-size: 25px;
        }
    }
    .menu {
        width: 100vw;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #2F3237;
        input {
            font-size: 1rem;
            width: 50%;
            padding: 2vw;
            &:focus {
                width: 55%;
            }
        }
        .filterIconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 0;
            padding: 0;


            p {
                color: white;
                background-color: #8D83A6;
                padding: 0.3rem;
                border-radius: 5px;
                font-size: 10px;
            }
            .filterIcon {
                display: contents;
                font-size: 30px;
                // width: 4vw;
                color: #8D83A6;
                &:focus {
                    color: rgba($color: white, $alpha: 0.4) ;
                }
            }
        }
        
        .menuIconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                color: white;
                background-color: $purple;
                padding: 0.3rem;
                border-radius: 5px;
                font-size: 10px;
            }
            .menuIcon {
                margin-top: 10px;

                display: contents;
                font-size: 30px;
                // width: 4vw;
                color: $purple;
                &:focus {
                    color: rgba($color: white, $alpha: 0.4) ;
                }
            }
        }


        .links {
            display: none;
    }
    ul{
        display: none;
    }
    }

}
